<div id="container-instructions">
	<h1>Instructions</h1>
	<!--hr /-->
	<div class="instructions well">
	    <p>
	    In this experiment you are going to play a game known as <b>Rush Hour</b>. 
	    The game consists of several "cars". 
	    <p>
	    The goal of the game is to lead the green car to where it marked <b>EXIT</b> by dragging it using the mouse.
	    Some cars might be between the green car and the exit.
	    </p>

        <p>
	<img src="static/images/images/images.001.jpeg" height="400" width="400" alt="board">
        </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>
	</div>
	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
