<div id="container-instructions">

    <h1>Instructions- Solving</h1>
    <div class="instructions well">
	    <p>
	    The solve a puzzle you will need to lead the red car to the <b>EXIT</b> by dragging it using the mouse.
	    <p>Here is an image of such a move. Click "Next" when ready</p>
	    </p>
	<img src="static/images/car_move.gif" height="400" width="400" style="border: 2px solid" alt="move the red car to the EXIT" border="50">
    </div>

    <hr/>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
