<div id="container-instructions">

    <h1>Restart and surrender</h1>

    <hr />

    <div class="instructions well">

        <p>
	You are going to play for <b>45</b> minutes.
	Try to solve as many puzzles as you can. 
	You are allowed to finish the last game you play.
        </p>
	<p>
	 It is important to us that you will try your best, but occusionaly you might find a puzzle that will be difficult for you to solve.  
        </p>
       	In that case you can decide to hit the <b>RESTART</b> button which will get you back to the initial position of the puzzle.
	<figure>
		<img src="static/images/restart.png" height="50" width="50" alt="restart">
		<figcaption>Restart Button</figcaption>
	</figure>

	If you see no other option, you can also use the <b>SURRENDER</b> button, which will get you to the next puzzle.
	<figure>
		<img src="static/images/surrender.svg" height="100" width="400" alt="board">
		<figcaption>Surrender Button</figcaption>
	</figure>
	<p>
	<b>NOTE:</b> All puzzles are solvable.
	</p>
 <p>
	Both buttons are located on the top part of the screen.
        </p>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
