<div id="container-instructions">

    <h1>Instructions - Computing your bonus</h1>

    <hr />

    <div class="instructions well">
    <p>
    There are <b>70</b> puzzles to solve.
	Your allotted time for solving them is <b>60</b> minutes.
	You are allowed to finish the last game you play.
	Try to solve as many puzzles as you can since this would affect your bonus. 
    </p>

    <p>
    After your time is up (or if you solve all puzzles) we are going to choose three puzzles at random and calculate your bonus based on how many of the three puzzles you completed successfully. 
    </p>

    <p>
    <B>Note:</B> We are going to treat puzzles you surrendered and puzzles you just did not get to in the same manner.  
    </p>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
