<div id="container-instructions">

    <h1>Instructions - Moving cars</h1>
    <hr />

    <div class="instructions well">
	<p>
           To move a car drag it to a new (vacant) position using the mouse. 
	</p>
	<p>
	Horizontal cars can move only <b>horizontally</b>.
	&nbsp;&nbsp;&nbsp;
	Vertical cars can move only <b>vertically</b>.
	</p>
	<img src="static/images/car_move_h.gif" style="border: 2px solid" height="250" width="250" alt="board">
	&nbsp;&nbsp;&nbsp;&nbsp;
	<img src="static/images/car_move_v.gif" style="border: 2px solid" height="250" width="250" alt="board">
	</figure>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
