<div id="container-instructions">

    <h1>Instructions - Restart and surrender</h1>

    <hr />
    <div class="instructions well">

    	<p>
	 It is important to us that you will try your best, but occasionally you might find a puzzle that will be difficult for you to solve.  
        </p>
       	In that case you can decide to hit the <b>RESTART</b> button which will get you back to the initial position of the puzzle.
	<figure>
		<img src="static/images/restart.png" height="50" width="50" alt="restart">
		<!--figcaption>(Restart Button)</figcaption-->
	</figure>
    </div>

    <div class="instructions well">
	As a last resort, you can also use the <b>SURRENDER</b> button, which will get you to the next puzzle.
	<p>
	The Surrender button is going to be disabled for the first few moves (marked with a red cross) in order to encourage you to try to solve the puzzle.
	</p>


	<figure>
		<img src="static/images/surrender_disabled.png" height="50" width="50" alt="disabled surrender button">
		<span class="glyphicon glyphicon-arrow-right"></span>
		<img src="static/images/surrender.png" height="50" width="50" alt="surrender button">
	</figure>
	<p>
	<b>NOTE:</b> All puzzles are solvable.
	</p>
    <p>
	Both buttons are located on the top part of the screen.
    </p>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
