<div id="container-instructions">

    <h1>Restart and surrender</h1>

    <hr />

    <div class="instructions well">

        <p>
	You are going to play for <b>45</b> minutes.
	</p>
	<p>
	You are allowed to finish the last game you play.
	Try to solve as many as you can. All puzzles are solvable.
        </p>
	<p>
	 It is important to us that you will try your best, but occusionaly you might find a puzzle that will be difficult for you to solve. In that case you can decide to hit the <b>RESTART</b> button which will get you back to the initial position of the puzzle. 
	You can also decide to hit the <b>SURRENDER</b> button, which will get you to the next puzzle.
        </p>
        <p>
	Both buttons are located on the top part of the screen.
        </p>

	<img src="static/images/restart_surrender.jpeg" height="100" width="400" alt="board">

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
