<div id="container-instructions">
	<h1>Instructions</h1>
	<!--hr /-->
	<div class="instructions well">
	    <p>
	    In this experiment you are asked to solve a puzzle. 
	    The puzzle consists of a board with several "cars" like the one showed below.
        <p>
	<!--img src="static/images/images/images.001.jpeg" height="400" width="400" alt="board"-->
	<img src="static/images/board.png" height="400" width="400" alt="board">
        </p>
	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>
	</div>
	<hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
