<div id="container-instructions">

    <h1>Instructions - Computing your bonus</h1>

    <hr />

    <div class="instructions well">
    <p>
    When you are done (either when your time is up or when you solved all puzzles) we are going to randomly choose <B>three</B> puzzles (out of the 70 puzzles). 
    </p>
    <P>
    We then calculate your bonus based on how many of these selected three puzzles you <B>completed</B> successfully. 
    </P>
    <p>
    <B>Note:</B> We are going to treat puzzles you surrendered and puzzles you did not get to do for lack of time in the same manner.  
    </p>
    <p>Here is an example of a bonus screen you might see after you complete the task</p>
	<img src="static/images/bonus_screen.png" height="350" width="500" style="border: 1px solid" alt="bonus screen" border="50">
 
        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>



    <div class="alert alert-warning">
        <P><B>Make sure you understand the minimum requirements and how your bonus will be calculated!</B> </P><P>Click "I UNDERSTAND" when you are ready.</P>
    </div>
    <hr />

    </div>
    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-6">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                I UNDERSTAND <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
