<div id="container-instructions">

    <h1>Instructions - How to not get your HIT rejected</h1>

    <hr />

    <div class="instructions well">
    <p>
    There are <b>70</b> puzzles to solve.
	Your allotted time for solving these puzzles is <b>60</b> minutes (120 minutes are allotted to the HIT so you can take plenty of breaks).
    You can also try to solve all puzzles (and complete the task) before the time is up. 
    </p>
    <p>
	You are allowed to finish the last puzzle you play.
	Try to solve as many puzzles as you can since this will affect your bonus (see next page). 
    </p>

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>
    <div class="alert alert-warning">
        <p><B>Important:</B> We are expecting you to try and solve as many puzzles as you can. Stopping to solve the puzzles could result in <B>REJECTING</B> your HIT. Make sure you keep trying for the entire 60 minutes.</p>
    </div>
    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>

</div>
