<div id="container-instructions">

    <h1>Instructions - Moving cars</h1>
    <hr />

    <div class="instructions well">
	<p>
           To move a car, just drag it to a new location on the board using the mouse. 

	</p>
	<p>
	Horizontal cars can move only <b>horizontally</b>.
	&nbsp;&nbsp;&nbsp;&nbsp;
	Vertical cars can move only <b>vertically</b>.
	</p>
	<img src="static/images/car_move_h.gif" style="border: 2px solid" height="300" width="300" alt="board">
	&nbsp;&nbsp;&nbsp;&nbsp;
	<img src="static/images/car_move_v.gif" style="border: 2px solid" height="300" width="300" alt="board">
	</figure>
    </hr>
    <p>
           Just as for the red car (in the previous page), the path between the car and the new location might be blocked by other cars. 
	</p>
    <p>
           Make sure you understand how to move cars on the board and click "Next" when ready.
	</p>
	

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
