<div id="container-instructions">

    <h1>Instructions - Moving cars</h1>
    <div class="instructions well">
        <p>
	Some cars might be blocking the path between the red car and the <b>EXIT</b>.
	Your task is to move them out of the way.
        </p>
	<p>The image below demonstrates a case of a blocked path. Click "Next" when ready</p>
	<img src="static/images/car_move_blocked.gif" style="border: 2px solid" height="400" width="400" alt="board">

        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>

    </div>

    <hr />

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
