<style>
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}
</style>

<div id="container-instructions">

    <h1>Instructions - Computing your bonus</h1>

    <hr />

    <div class="instructions well">
    <p>
    When you are done (either when your time is up or when you solved all puzzles) we are going to randomly choose <B>three</B> puzzles (out of the 70 puzzles). 
    </p>
    <P>
    We then calculate your bonus based on how many of these three randomly selected puzzles you <B>solved</B>. 
    </P>
    <p>
    <B>Note:</B> We are going to treat in the same manner puzzles you surrendered and puzzles you did not get to do for lack of time. So try to complete as many puzzles as you can to increase the chances of a high bonus. 
    </p>
     <table id="customers" align="center">
        <thead>
            <tr>
                <th class="text-center">Number of puzzles completed</th>
                <th class="text-left">Bonus</th>
                <th class="text-left">Total</th>
            </tr>
        </thead>
        <tbody >
            <tr>
                <td class="text-center">0</td>
                <td class="text-center">$0<font color="red"></font></td>
                <td class="text-center">$1</td>
            </tr>
            <tr>
                <td class="text-center">1</td>
                <td class="text-center">$3<font color="red"></font></td>
                <td class="text-center">$4</td>
            </tr>
            <tr>
                <td class="text-center">2</td>
                <td class="text-center">$6<font color="red"></font></td>
                <td class="text-center">$7</td>
            </tr>
             <tr>
                <td class="text-center">3</td>
                <td class="text-center">$9<font color="red"></font></td>
                <td class="text-center">$10</td>
            </tr>
        </tbody>
    </table>


        <script type="text/javascript">
        //console.log(psiTurk.getInstructionIndicator())
        </script>



    <hr />
    </div>
    <div class="alert alert-warning">
        <P><B>Make sure you COMPLETELY understand the requirements and how your bonus will be calculated!</B> </P><P>Click "I UNDERSTAND" when you are ready.</P>
    </div>
    <hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <button type="button" id="prev" value="prev" class="btn btn-primary btn-lg previous">
                <span class="glyphicon glyphicon-arrow-left"></span> Previous
                </button>
            </div>
            <div class="col-xs-6">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                I UNDERSTAND 
                </button>
            </div>
        </div>
    </div>

</div>
