<div id="container-instructions">
	<h1>Instructions</h1>
	<!--hr /-->
	<div class="instructions well">
	<hr/><P align='left'>
	    Before you start, let's repeat a few important things you must remember: 
	    </P> <hr/><P align='left'>

	    <B>(a)</B> You have to complete the <B>entire 60 minutes</B> of the experiment in order for your HIT to get approved.<B> No compensation</B> will be given for partial completion of the experiment!

	    </P><hr/><P align='left'>

	    <B>(b)</B> DO NOT close the window at any point during the experiment. 

	    </P> <hr/><P align='left'>
	    <B>(c)</B> Make sure your pop-up blocker is disabled to see how your bonus is calculated (you will receive the bonus in any case). 

	    </P> <hr/><P align='left'>
	    <B>(d)</B> When your time is up ('time left' on the upper panel shows "--"), you <B>*MUST*</B> complete (or surrender) the last puzzle in order to be able to submit the task.

	    </P> 
	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>
	</div>

    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
