<!DOCTYPE html>
<html>
	<head><link rel="stylesheet" href="static/css/main.css">
		<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
		<script src="http://momentjs.com/downloads/moment.min.js" charset="utf-8"></script>
	</head>

	<body><h1>Rush Hour</h1><p id="status"></p><div id="content"><ul id="game-stats"><li>Perfect score: <span class="value">15</span></li><li id="timer"></li><li>Moves: <span id="moves" class="value">0</span></li></ul><div id="game"><div class="exit"></div></div><p>Click and drag the cars to guide the green car to the exit.</p></div>
		<script src="static/js/app.js"></script>
	</body>
</html>

